@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	body {
		@apply bg-gray-600;
	}
}

@layer components {
	.nft_details_container {
		width: 900px;
	}
	.nft_details_bg {
		width: 600px;
		height: 800px;
	}
	.nft_details_sidebar {
		width: 300px;
		height: 800px;
	}
	.navBg {
		background: #030029; /* fallback for old browsers */
	}
	.titleBg {
		background: #003973; /* fallback for old browsers */
	}
	.menu-active {
		color: white;
	}
	.vertical-center {
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.center {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.bn-onboard-custom.bn-onboard-modal {
	z-index: 50;
}
.bn-onboard-custom.bn-onboard-modal-content {
	border-radius: 1rem /* 16px */;
	color: rgba(229, 231, 235);
	background-color: rgba(19, 31, 49);
}
.bn-onboard-custom.bn-onboard-modal-selected-wallet {
	background-color: #283248;
}
