@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	body {
		background: hsla(216, 41%, 79%, 1);
	}
}

@keyframes slide {
	100% {
		background-position: 0 0;
	}
	0% {
		background-position: -3964px -2000px;
	}
}

@layer components {
	.bg_home {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: -100;
		position: fixed;
		background-image: url('https://ethemerals-media.s3.amazonaws.com/bg_home.png');
		-webkit-animation: slide 240s linear infinite;
		animation: slide 240s linear infinite;
		background-repeat: repeat;
	}
	.page_bg {
		/* background-image: linear-gradient(to bottom, #5a6571, #4b5665, #3d4759, #30384d, #242a41); */
		background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
		background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
		background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: -100;
		position: fixed;
	}
	.scrollbar_right {
		right: calc(100% - 100vw);
	}
	.scrollbar_pad {
		padding-left: calc(100vw - 100%);
	}
	.nft_details_container {
		width: 1096px;
	}
	.nft_details_bg {
		width: 700px;
		height: 924px;
	}
	.nft_details_img {
		width: 700px;
		height: 800px;
	}
	.nft_details_sidebar {
		width: 396px;
		height: 924px;
	}
	.navBg {
		background: #030029; /* fallback for old browsers */
	}
	.titleBg {
		background: #003973; /* fallback for old browsers */
	}
	.menu-active {
		color: #f900d1;
	}
	.vertical-center {
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.center {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.bn-onboard-custom.bn-onboard-modal {
	z-index: 50;
}
.bn-onboard-custom.bn-onboard-modal-content {
	border-radius: 1rem /* 16px */;
	color: rgba(229, 231, 235);
	background-color: rgba(19, 31, 49);
}
.bn-onboard-custom.bn-onboard-modal-selected-wallet {
	background-color: #283248;
}
